/* Social Media Project */
.app-container {
  display: flex;
}

.post-card {
  margin: 20px 50px;
}

.create-post {
  width: 80%;
  margin: 2rem 10%;
}

.hashtag {
  margin: 0 5px;
}

.reactions {
  margin: 0 5px;
}

.spinner {
  margin: 10% 0;
}

.welcome-message {
  margin: 100px 0;
  font-size: 1.5rem;
  font-weight: 600;
}
